@import "tailwindcss";

:root {
  --primary: #2dd4bf;
  --secondary: #fbbf24;
  --tertiary: #ffac5a;
  --neutral: #717976;
  --background: #0E1513;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background);
}
